{% extends "header.html" %}

{% block content %}
<div class="container">
	<form method="post">
	    <div class="col-md-12">
		    <input type="text" class="form-control" placeholder="Title" name="title" value="{{title}}">
		    <br>
		</div>
		
		<div class="col-md-12">
		    <textarea class="form-control" placeholder="Content" name="content" rows="20">{{content}}</textarea>
		    <br>
		</div>
		<div class="col-md-1 ">
		    <button class="col-md-4 btn btn-primary btn-block" type="submit" name="save">Save</button>
		</div>
		<div class="col-md-10"></div>
		<br>
		<div class="col-md-1">
			<button class="col-md-4 btn btn-primary btn-block" type="submit" name="submit">Submit</button>
		</div>
	</form>
</div>
{% endblock %}